extends layout.pug

block body
    h1 tasks

    form(method='POST', action='/add-task')
    label Title
        input(type='text', name='title')
    label Description
        input(type='text', name='description')
    button(type='submit') Add task
